<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Gym Management System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/signup.css')}}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">Aarogyam</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/plans">Plans</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- SIGNUP PAGE -->
    <section class="signup-container" id="signup">
        <div class="signup-box">
            <h2>Create an Account</h2>
            <form action="/signup" method="POST">
                <label for="username">Full Name</label>
                <input type="text" id="username" name="username" placeholder="Enter your full name" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>

                <label for="role">Role:</label>
                <select id="role" name="role">
                    <option value="trainer">Trainer</option>
                    <option value="user">User</option>
                </select>

                <button type="submit" class="signup-btn">Sign Up</button>
            </form>

            <div class="existing-user">
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>

        </div>
    </section>

    <footer>
        <p>© 2024 Aarogyam. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/script_signup.js') }}"></script>
</body>

</html>
